body{
    background-color: #fdfff4;
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 2em;
}

.category{
    border-right: 1px solid grey;
    padding-right: 2em;
    width: 100em;
}

.category li{
    list-style-type: none;
    margin-top: 0.8em;
}

.category a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a:hover{
    color: blue;
}

.image{
    margin-left: 10em;
    margin-top: 1em;
}

.image img{
    width: 250px;
    border-radius: 125px;
    border: 3px solid rgb(194, 188, 188);
}
.main_content{
    margin-left: 1em;
}

h1{
    font-size: 1.6rem;
    font-weight: bolder;
}

#text{
    font-weight: bold;
}